.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #101010;
    padding-inline: 2rem;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar ul li {
    list-style: none;
}